.navbar svg {
  width: 35px;
}
.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1020px;
  margin: 0 auto;
}

.logo-container,
.search-container,
.user-container {
  display: flex;
  align-items: center;
}

.add-guests {
  display: flex;
  align-items: center;
}

.logo-container {
  padding: 0;
  color: #ff385c;
}
.logo-container h1 {
  font-size: 1.3rem;
  font-weight: bold;
}
.logo-container svg {
  font-size: 2rem;
  margin-right: 5px;
}

.search-container {
  border: 1px solid #e1e1e1;
  padding: 5px 5px 5px 10px;
  border-radius: 40px;
  justify-content: space-between;
  width: fit-content;
  font-size: 0.8rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .search-container {
    display: none;
  }
}

.search-container svg {
  font-size: 2rem;
  fill: #ff385c;
}

.search-container input {
  border: none;
  font-family: inherit;
  margin: 5px 10px;
  align-items: center;
}
.search-container input:focus {
  outline: none;
}

.anywhere,
.any-week,
.add-guests {
  padding: 0 15px;
  font-weight: bold;
}
.add-guests {
  color: #888;
  font-weight: 100;
}
.any-week {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.user-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  height: 0;
}

@media screen and (max-width: 768px) {
  .user-container {
    display: none;
  }
}

.add-home {
  font-size: 0.8rem;
  font-weight: bold;
}

.lang {
  width: 20px;
  display: block;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  padding-left: 10px;
  gap: 0.5rem;
}

.menu-btn svg {
  display: block;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.user-btn svg {
  display: block;
  font-size: 2rem;
}

.test-user {
  text-align: center;
}

.menu-btn button {
  border: none;
  background-color: white;
}

.user button {
  border: none;
  background-color: white;
  display: block;
}
.user-icon {
  font-size: 2rem;
  fill: #888;
}

.user-links {
  display: block;
}

.user {
  display: flex;
  /* gap: 0.5rem; */
  margin: 0;
  padding: 0;
}
.user-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-input {
  width: 100px;
  border: none;
  border-bottom: 1px solid #888;
  font-family: inherit;
  font-size: 0.75rem;
}

.mini-search {
  border: none;
  border-bottom: 1px solid #888;
  width: 100px;
  font-family: inherit;
  display: none;
}

.mini-search:focus {
  outline: none;
}

.show-search {
  display: inline-block;
}

.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.show-nav {
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .user {
    display: none;
  }
  .user-links {
    display: none;
  }
}
