@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.form {
  /* padding: 100px 300px; */
  max-width: 500px;
  margin: 150px auto;
  text-align: center;
}
.form h2 {
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 8px;
  padding: 7px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
form input:focus {
  outline: 1px solid #bbb;
}

form button {
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #ff385c;
  color: #fff;
  margin-bottom: 10px;
}
form p a {
  font-weight: bold;
  text-decoration: underline;
}

.card-container {
  /* width: 100vw; */
  /* height: fit-content; */
  /* padding: 30px 30px; */
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}

/* CARD */

.card {
  width: 300px;
  overflow: hidden;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  zoom: 40%;
}

.image-container {
  border-radius: 10px;
  margin-bottom: 8px;
}

.location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rating svg {
  width: 15px;
  margin: 0;
  display: block;
}

.host-info p {
  display: flex;
  align-items: center;
  color: #717171;
}
.date {
  color: #717171;
  margin-bottom: 5px;
}
.dot {
  background: #717171;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
}
.price-container p span {
  font-weight: bold;
}

.superhost {
  margin-left: 20px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
}
